:root{
    --principal:#61B15A;
    --second: #ADCE74 ;
    --third:#FFF76A;
    --fourth: #FFCE89;
    --black: #131313;
    --white: #faf3f3;
}



.principal{
    min-height: 100vh;
    width:100vw;
    color: var(--white);
    background-color: var(--principal);
}
.container-form{
    color:var(--principal);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-react{
    border-radius: 25px;
    max-width: 500px;
    width: 100%;
    padding: 70px 20px;
    background-color: var(--second);
}

.form{
    width: 100%;
    max-width: 500px;
}

.txt-rfc{
letter-spacing: 10px;
}

label{
    margin-bottom: 5px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

#carta{
    width: 12rem;

}

#scroll{
    margin: 4px, 4px;
    padding: 4px;
    width: 1000px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.card-img-top{
    border-radius: 4.5rem;
}


button{
    width: 200px;
}

.btn{
    width: 150px;
}

p,label{
    color: #131313;
}

nav,.navbarNav,.navbar-nav{

    background-color: var(--principal);
}

li{
    padding-left: 3rem;
    padding-right: 3rem;
}